project:
  type: website
  output-dir: docs
  # resources:
    # - "**/*pdf"
    # - "asset/**/*png"
    # - "asset/**/*jpg"
  # render:
  #   - '*.qmd'

  preview:
    port: 9595
    browser: false

website:
  title: "Schengen days counter"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true




